body {
    display: grid;
    grid-template: auto auto/3fr 1fr;
    grid-gap: 1em;
    grid-template-areas: "hd hd" "main sidebar";
    background-color: lightslategray;
}

@media (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
}
