.header {
    background-color: #f1c7ff;
    grid-area: hd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}

.header .header-title {
    display: flex;
    align-items: center;
    flex: 1;
}

.header input {
    flex: 5;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: #faebff;
    border-radius: 10px;
    border-width: 3px;
    border-color: darkslateblue;
    border-style: solid;
}

.header button {
    flex: 1;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: #e48fff;
    border-radius: 10px;
    border-width: 3px;
    border-color: darkslateblue;
    text-align: center;
    width: auto;
}

.header .header-title h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 35px;
}

.header .header-title img {
    margin: 10px;
    height: 60px;
}
